
header {

position: absolute;
width: 100%;
height: auto;
left: 0px;
top: 0px;
background-image: url('/assets/images/header.png');
background-size: cover;
background-position: center;
padding: 100px;
}

header, content { Widt
h
Hug (757px)
Heigh
t
Hug (270px)
To
p
94px
Lef
t
261px
Ga
p
24px
}